* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 0;
  font-size: 100%;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
}

#board {
  margin: 0 auto;
  border: 1px solid black;
  border-spacing: 0;
}

#board tr, td {
  padding: 0;
}

#board td {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.btn-group {
  padding: 8px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.visited {
  background-color: blue;
}

.obstacle {
  background-color: black;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.toggle-button:focus {
  background-color: grey;
}
